{% extends "../bases/base.html" %}

{% block title %} Home | VDstore {% endblock %}

{% block content %}

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Catalog </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Smartphones</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Laptoops</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">PC</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Smart watches</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Fitness</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Accessories</a>

      </div>
    </div>
    <!-- /Sidebar -->

{% endblock %}

